*, html, body
{
  margin: 0 0;
  padding: 0;
  border-collapse:separate;
}
html, body
{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #1D1C22;
  color: white;
}
#table_logs.dataTable.no-footer 
{
  border-bottom: none;
}
#table_monitor_logs.dataTable.no-footer 
{
  border-bottom: none;
}
#table_monitor_total.dataTable.no-footer 
{
  border-bottom: none;
}
#table_monitor_modes.dataTable.no-footer 
{
  border-bottom: none;
}
#table_monitor_bands.dataTable.no-footer 
{
  border-bottom: none;
}
#table_monitor_qsos.dataTable.no-footer 
{
  border-bottom: none;
}
#table_projects.dataTable.no-footer 
{
  border-bottom: none;
}
#table_operators.dataTable.no-footer 
{
  border-bottom: none;
}
.counter
{
  text-align: right;  
}
.class_log_change_callinfo, .class_log_change_locinfo
{
  font-size:0.9em;
}
#div_log_change_callinfo1,#div_log_change_callinfo2
{
  background-color: orange;
}
input[type=text]
{
  border: none;
}
input[type=button]
{
  background-color: black;
  color: white;
  text-align: middle;
  width: 10em;
  height: 1.8em;
  border: 0.1em solid;
}
#log_rst_tx_0
{
  width: 1em;
}
#log_rst_tx_1
{
  width: 1em;
}
#log_rst_tx_2
{
  width: 1em;
}
#log_rst_rx_0
{
  width: 1em;
}
#log_rst_rx_1
{
  width: 1em;
}
#log_rst_rx_2
{
  width: 1em;
}
#log_time_hr_date
{
  width: 6em;
}
#log_time_hr_time
{
  width: 3em;
}
#log_freq
{
  width: 7em;
}
#log_name
{
  width: 8em;
}
#log_dok
{
  width: 4em;
}
#log_loc
{
  width: 4em;
}
#log_notes
{
  width: 50em;
}
#div_complete
{
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  z-index: 5;
  visibility: hidden;
}
img.class_complete
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
input.navi_top
{
  height: 1.7em;
}
.class_form_log_change tbody
{
  background-color: #61464C;
  font-color: #FFB202;
}
.class_form_log_change input 
{
  background-color: #FFB202;
  height: 2em;
}
.class_log_change_inputs
{
  background-color: #FFB202;
}
.class_log_change_desc_text
{
  color: #FFB202;
  font-weight: bold;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate 
{
  color: white;
}

table.dataTable.compact tbody th, table.dataTable.compact tbody td 
{
  font-size: .75em;
  color: black;
}
table.dataTable.compact thead th, table.dataTable.compact tfoot th
{
  background-color: #FFD677;
  color: #E08526;
}
table.dataTable.compact tbody tr.even
{
  background-color: #FFD774;
}
table.dataTable.compact tbody tr.odd
{
  background-color: #D1D2C9;
}
#div_navi_top
{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 95%;
  height: 1.7em;
  z-index: 5;
}
#div_navi_logout
{
  position: fixed;
  top: 0%;
  right: 0%;
  width: 5%;
  height: 50px;
  z-index: 3;
}
span.help
{
  position:relative;
  cursor:pointer;
}
span.help div
{
  display:none;
  position:absolute;
  top:20px;
  left:90px;
  padding:5px;
  border:1px dotted gray;
  width:400px;
  z-index: 20;
  background-color: blue;
}
span.help:hover div
{
  display:block;
}

#div_login_logo
{
  width: 100%;
}
#div_login_form
{
}
#div_map2
{
  position: fixed;
  top: 0%;
  left:0%;
  width: 100%;
  height: 100%;
  z-index:6;
  visibility:hidden;
}
#div_map2_settings
{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 95%;
  height: 25px;
  z-index: 6;
}

#div_map2_map
{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 6;
}
#div_map
{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index:4;
  //display: none;
  visibility: hidden;
}
#div_map_settings
{
  position: fixed;
  top: 1.7em;
  left: 0%;
  width: 95%;
  height: 25px;
  z-index: 4;
}
#div_map_map
{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 4;
}
#div_monitor
{
  position: fixed;
  top:1.7em;
  width: 100%;
  visibility: hidden;
  font-family: 'Lucida Grande', Helvetica, Arial, sans-serif; 
  font-size: 20pt;
}
#div_dxcluster
{
  position: fixed;
  top:1.7em;
  width: 100%;
  visibility: hidden;
}
#div_monitor_table_logs
{
  position: fixed;
  width: 70%;
  height: 50%;
}
#div_monitor_table_total
{
  position: fixed;
  left: 70%;
  width: 30%;
  height: 55%;
}
#div_monitor_table_modes
{
  top: 55%;
  position: fixed;
  width: 33%;
  height: 50%;
}
#div_monitor_table_bands
{
  position: fixed;
  top: 55%;
  left: 33%;
  width: 33%;
  height: 50%;
}
#div_monitor_table_qsos
{
  position: fixed;
  top: 55%;
  left: 66%;
  width: 33%;
  height: 50%;
}
#div_delete_data_ask
{
  position: fixed;
  left: 0%;
  width:100%;
  height:80%;
  visibility: hidden;
  z-index: 3;
}
#div_operator_change
{
  top: 0%;
  position: fixed;
  left: 0%;
  width:100%;
  height:100%;
  visibility: hidden;
  z-index: 6;
  background-color: white;
}
#div_operators
{
  position: fixed;
  top: 10%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
  visibility: hidden;
}
#div_project_change
{
  top: 0%;
  position: fixed;
  left: 0%;
  width:100%;
  height:100%;
  visibility: hidden;
  z-index: 6;
  background-color: black;
}
#div_projects
{
  position: fixed;
  top: 10%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
  visibility: hidden;
}
#div_settings
{
  position: fixed;
  top: 10%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
  visibility: hidden;
}
#div_logs
{
  position: relative;
  top: 1.7em;
  width: 100%;
  z-index: 1;
  background-color: #1D1C22;
}
#div_log_import
{
  position: fixed;
  left: 0%;
  top: 0%;
  width:100%;
  height:100%;
  visibility: hidden;
  z-index: 6;
  background-color: white;
}
#div_log_export
{
  position: fixed;
  left: 0%;
  width:100%;
  height:100%;
  visibility: hidden;
  z-index: 6;
  background-color: white;
}
#div_log_change
{
  position: fixed;
  left: 0%;
  width:100%;
  height:100%;
  visibility: hidden;
  z-index: 5;
  background-color: #1D1C22;
  color: white;
}
#div_log_change_form
{
  position: fixed;
  left: 0%;
  width:100%;
  height:20%;
  z-index: 4;
}
#div_log_change_callinfo1
{
  position: fixed;
  left: 0%;
  width:40%;
  height:20%;
  top: 20%;
  z-index: 4;
  color: black;
}
#div_log_change_callinfo1_picture
{
  position: fixed;
  left: 30%;
  width:10%;
  height:20%;
  top: 20%;
  z-index: 4;
}
#div_log_change_callinfo2
{
  position: fixed;
  left: 40%;
  width:20%;
  height:20%;
  top: 20%;
  z-index: 2;
  color: black;
}
#div_log_change_callinfo3
{
  position: fixed;
  left: 60%;
  width:20%;
  height:15%;
  top: 20%;
  z-index: 2;
}
#div_log_change_error
{
  position: fixed;
  left: 60%;
  width:20%;
  height:5%;
  top: 35%;
  z-index: 2;
}
#div_log_change_callinfo4
{
  position: fixed;
  left: 80%;
  width:20%;
  height:20%;
  top: 20%;
  z-index: 2;
  color: white;
}
#div_log_change_logsfromme
{
  position: fixed;
  left: 0%;
  width:100%;
  height:30%;
  top: 40%;
  z-index: 2;
}
#div_log_change_logsfromall
{
  position: fixed;
  left: 0%;
  width:100%;
  height:30%;
  top: 70%;
  z-index: 2;
}
input:focus, textarea:focus
{
  background-color: #FE6503;
}
